$snackbar-width: 280px;
$snackbar-height: 66px;
$snackbar-spacing: 8px;
$snackbar-margin: 8px;
$snackbar-margin-large: 12px;
$body-padding-right: 6px;
$heading-margin-top: 6px;
$message-margin-top: 6px;
$center-margin-left: -$snackbar-width / 2;
$transition-height: $snackbar-height + $snackbar-spacing;
$close-button-size: 28px;
$close-button-margin-right: -$body-padding-right;
$icon-font: 24px;
$icon-horizontal-padding: 12px;


:root {
    --mb-snackbar-color-info: white;
    --mb-snackbar-color-success: white;
    --mb-snackbar-color-warning: white;
    --mb-snackbar-color-error: white;

    --mb-snackbar-filter-info: contrast(4) invert(1);
    --mb-snackbar-filter-success: contrast(4) invert(1);
    --mb-snackbar-filter-warning: contrast(4) invert(1);
    --mb-snackbar-filter-error: contrast(4) invert(1);

    --mb-snackbar-background-color-info: var(--mb-color-light-blue-700);
    --mb-snackbar-background-color-success: var(--mb-color-green-700);
    --mb-snackbar-background-color-warning: var(--mb-color-amber-800);
    --mb-snackbar-background-color-error: var(--mb-color-red-700);
    --mb-snackbar-border-radius: 4px;
}



.mb-snackbar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 101;
}

.mb-snackbar__topleft,
.mb-snackbar__topright,
.mb-snackbar__topcenter {
    top: $snackbar-margin;
    left: 50%;
    margin-left: $center-margin-left;
}

.mb-snackbar__bottomleft,
.mb-snackbar__bottomright,
.mb-snackbar__bottomcenter {
    bottom: $snackbar-margin;
    left: 50%;
    margin-left: $center-margin-left;
}

.mb-snackbar {
    display: flex;
    flex-flow: row nowrap;
    margin: $snackbar-spacing/2 0;
    padding: 0 $body-padding-right 0 0;
    box-sizing: padding-box;
    height: $snackbar-height;
    max-height: $snackbar-height;
    width: $snackbar-width;
    border-radius: var(--mb-snackbar-border-radius);
}

    .mb-snackbar.fade-in {
        animation: mbToastFadeIn 300ms;
    }

    .mb-snackbar.fade-out {
        animation: mbToastFadeOut 3000ms;
    }

    .mb-snackbar.hide {
        max-height: 0;
        visibility: hidden;
    }


@keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes mbToastFadeIn {
    0% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    40% {
        opacity: 0;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
}


@keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}

@-webkit-keyframes mbToastFadeOut {
    0% {
        opacity: 1;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    6% {
        opacity: 0;
        max-height: $snackbar-height;
        margin: $snackbar-spacing/2 0;
        animation-timing-function: ease-in-out;
    }

    10% {
        opacity: 0;
        max-height: 0;
        margin: 0;
        animation-timing-function: ease-in-out;
    }

    100% {
        opacity: 0;
        max-height: 0;
        margin: 0;
    }
}




.mb-snackbar__info {
    color: var(--mb-snackbar-color-info);
    background-color: var(--mb-snackbar-background-color-info);
    --mdc-theme-primary: var(--mb-snackbar-color-info);
}

.mb-snackbar__success {
    color: var(--mb-snackbar-color-success);
    background-color: var(--mb-snackbar-background-color-success);
    --mdc-theme-primary: var(--mb-snackbar-color-success);
}

.mb-snackbar__warning {
    color: var(--mb-snackbar-color-warning);
    background-color: var(--mb-snackbar-background-color-warning);
    --mdc-theme-primary: var(--mb-snackbar-color-warning);
}

.mb-snackbar__error {
    color: var(--mb-snackbar-color-error);
    background-color: var(--mb-snackbar-background-color-error);
    --mdc-theme-primary: var(--mb-snackbar-color-error);
}

.mb-snackbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 0 0 $icon-horizontal-padding;
    font-size: $icon-font;
}

    .mb-snackbar-icon.info-filter {
        filter: var(--mb-snackbar-filter-info);
    }

    .mb-snackbar-icon.success-filter {
        filter: var(--mb-snackbar-filter-success);
    }

    .mb-snackbar-icon.warning-filter {
        filter: var(--mb-snackbar-filter-warning);
    }

    .mb-snackbar-icon.error-filter {
        filter: var(--mb-snackbar-filter-error);
    }


.mb-snackbar-body {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    padding: 0 0 0 $icon-horizontal-padding;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.mb-snackbar-body .mb-snackbar-header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    color: inherit;
}

.mb-snackbar-heading-container {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
}

.mb-snackbar-body h5 {
    flex-grow: 0;
    flex-shrink: 1;
    margin: $heading-margin-top 0 0 0 !important;
}

.mb-snackbar-body p {
    flex-grow: 0;
    flex-shrink: 0;
    margin: $message-margin-top 0 0 0 !important;
}

.mb-snackbar-close-button {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    height: $close-button-size !important;
    line-height: $close-button-size;
    width: $close-button-size !important;
    min-width: $close-button-size !important;
    max-width: $close-button-size;
    border-radius: var(---mb-snackbar-border-radius) !important;
    margin: 0 $close-button-margin-right 0 0 !important;
    padding: 0 !important;
    top: 0;
    left: 0;

    .mdc-button__icon {
        margin: 0 !important;
    }
}



@media (min-width: 576px) {

    .mb-snackbar__topleft {
        top: $snackbar-margin-large;
        left: $snackbar-margin-large;
        margin-left: 0;
    }

    .mb-snackbar__topright {
        top: $snackbar-margin-large;
        right: $snackbar-margin-large;
        left: initial;
        margin-left: 0;
    }

    .mb-snackbar__topcenter {
        top: $snackbar-margin-large;
    }

    .mb-snackbar__bottomleft {
        bottom: $snackbar-margin-large;
        left: $snackbar-margin-large;
        margin-left: 0;
    }

    .mb-snackbar__bottomright {
        bottom: $snackbar-margin-large;
        right: $snackbar-margin-large;
        left: initial;
        margin-left: 0;
    }

    .mb-snackbar__bottomcenter {
        bottom: $snackbar-margin-large;
    }
}